<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="Main.css" />
        <!-- 부트스트랩 CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
        <title>SKHU LOAD</title>
    </head>
    <body>
        <!-- #region 네비게이션 바 -->
        <!-- 밝은 테마의 네비게이션 바 생성 -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- 네비게이션 바를 감싸는 컨테이너(중앙 정렬, 좌우 여백) -->
            <div class="container">
                <!-- 네비게이션 바에 로고 추가 -->
                <a class="navbar-brand" href="/">{ SKHU LOAD }</a>
                <!-- 모바일 화면에서 메뉴가 접히도록 설정 -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- 오른쪽으로 정렬된 네비게이션 바 메뉴 -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Mapping">길찾기 알림</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Halfway">중간지점 찾기</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Suggestion">장소추천</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- #endregion 네비게이션 바 -->

        <!-- #region 헤더 -->
        <!-- 부트스트랩 점보트론(큰 텍스트, 큰 여백) -->
        <header class="jumbotron">
            <!-- 헤더를 감싸는 컨테이너 추가(중앙 정렬, 좌우 여백) -->
            <div class="container">
                <div class="content_right">
                    <h1 class="display-4">환영합니다!</h1>
                    <p class="lead">성공회대학교 교내대회 출품작 SKHU LOAD(임시)입니다.</p>
                    <!-- 기본 스타일의 가장 큰 버튼 생성 -->
                    <a class="btn btn-primary btn-lg" href="/" role="button">자세히 알아보기</a>
                </div>
            </div>
        </header>
        <!-- #endregion 헤더 -->

        <!-- #region 서비스 소개 메시지 섹션 -->
        <section class="container text-center">
            <br />
            <h2>서비스 소개</h2>
            <p>SKHU LOAD(임시)에서 지원하는 서비스 목록 입니다.</p>
            <br />
        </section>
        <!-- #endregion 서비스 소개 메시지 섹션 -->

        <!-- #region 서비스 카드 섹션 -->
        <!-- 넓이 75%의 색션을 가운데 정렬 -->
        <section class="w-75 mx-auto">
            <!-- 상단여백 추가 -->
            <div class="mt-4">
                <!-- 길찾기 알림 서비스 카드 -->
                <!-- 부트스트랩 점보트론(큰 텍스트, 큰 여백) -->
                <div class="jumbotron mx-4 jb_img_left">
                    <div class="container text_center_800">
                        <div class="content_right">
                            <h1>길찾기 알림 서비스</h1>
                            <p>원하는 장소로 갈 수 있는 길을 찾아주고 해당 위치까지 남은 시간을 알려드립니다.</p>
                            <!-- 기본 스타일의 보통 사이즈의 버튼 생성 -->
                            <a class="btn btn-primary" href="/Mapping" role="button">길찾기 알림 이동하기</a>
                        </div>
                    </div>
                </div>

                <!-- 중간지점 찾기 서비스 카드 -->
                <!-- 부트스트랩 점보트론(큰 텍스트, 큰 여백) -->
                <div class="jumbotron mx-4 jb_img_right text-end">
                    <div class="container text_center_800">
                        <div class="content_left">
                            <h1>중간지점 찾기 서비스</h1>
                            <p>여러 사람과의 약속장소를 정할 때 중간지점을 찾아 알려드립니다.</p>
                            <!-- 기본 스타일의 보통 사이즈의 버튼 생성 -->
                            <a class="btn btn-primary" href="/Halfway" role="button">중간지점 찾기 이동하기</a>
                        </div>
                    </div>
                </div>

                <!-- 근처 장소추천 서비스 카드 -->
                <!-- 부트스트랩 점보트론(큰 텍스트, 큰 여백) -->
                <div class="jumbotron mx-4 jb_img_left">
                    <div class="content_left container text_center_800">
                        <div class="content_right">
                            <h1>근처 장소추천 서비스</h1>
                            <p>중간지점, 원하는 장소 근처의 추천하는 장소를 알려드립니다.</p>
                            <!-- 기본 스타일의 보통 사이즈의 버튼 생성 -->
                            <a class="btn btn-primary" href="/Suggestion" role="button">장소추천 이동하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #endregion 서비스 카드 섹션 -->

        <!-- #region 푸터 -->
        <!-- 어두운 배경의 밝은 텍스트를 가지는 푸터 생성 -->
        <footer class="footer bg-dark text-light">
            <div class="container">
                <br />
                <!-- 푸터의 열 생성 -->
                <div class="row">
                    <!-- 푸터의 행 생성 -->
                    <div class="col-md-6">
                        <h4>SKHU LOAD</h4>
                        <p>성공회대학교 교내대회 출품작</p>
                        <p>팀명: 미정</p>
                        <p>주소: 서울특별시 구로구 연동로 320</p>
                    </div>
                    <!-- 푸터의 행 생성 -->
                    <div class="col-md-3">
                        <h5>추가 링크</h5>
                        <!-- 목록 스타일 제거 -->
                        <ul class="list-unstyled">
                            <li><a href="#">서비스</a></li>
                            <li><a href="#">고객 지원</a></li>
                            <li><a href="#">이용 약관</a></li>
                        </ul>
                    </div>
                    <!-- 푸터의 행 생성 -->
                    <div class="col-md-3">
                        <h5>SNS</h5>
                        <!-- 목록 스타일 제거 -->
                        <ul class="list-unstyled">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">GitHub</a></li>
                        </ul>
                    </div>
                </div>
                <br />
            </div>
        </footer>
        <!-- #endregion 푸터 -->
    </body>
</html>
