<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>API Test</title>
    </head>
    <body>
        <h1>열차 정보 검색</h1>
        <!-- /post url에서 form동작 시 값을 post로 전송 -->
        <form action="/post" method="post">
            <!-- 열차 이름을 받는 input 필드 -->
            <input name="station" type="text" />
            <input type="submit" name="submit" value="제출" />
        </form>
    </body>
</html>
