<div class="bg_panel set_opacity">
    <div class="close_panel"></div>
    <div class="ex_X-btn">
        <div>
            <div class="ex_close-container">
                <div class="ex_leftright"></div>
                <div class="ex_rightleft"></div>
                <label class="ex_close">close</label>
            </div>
        </div>
    </div>
    <div class="ex_cont">
        <div>
            <h2 id="ex_title">SKHU ROAD</h2>
            <p id="ex_maintext">
                길찾기: 검색한 장소로 이동할 수 있는 수단을 보여줍니다.<br />
                중간지점: 검색한 두 장소의 중간지점을 찾아줍니다.<br />
                지하철: 지하철 역의 지연시간을 알려줍니다.
            </p>
        </div>
        <div class="btn_group">
            <div id="ex_back_btn" class="ex_button"><< Back</div>
            <div id="ex_next_btn" class="ex_button">Next >></div>
        </div>
    </div>
</div>
<script src="explanation.js"></script>
