<!-- #region 푸터 -->
<!-- 어두운 배경의 밝은 텍스트를 가지는 푸터 생성 -->
<footer class="footer bg-dark text-light">
    <div class="container">
        <br />
        <!-- 푸터의 열 생성 -->
        <div class="row">
            <!-- 푸터의 행 생성 -->
            <div class="col-md-6">
                <h4>SKHU ROAD</h4>
                <p>성공회대학교 교내대회 출품작</p>
                <p>팀명: 미정</p>
                <p>주소: 서울특별시 구로구 연동로 320</p>
            </div>
            <!-- 푸터의 행 생성 -->
            <div class="col-md-3">
                <h5>추가 링크</h5>
                <!-- 목록 스타일 제거 -->
                <ul class="list-unstyled">
                    <li><a href="#">서비스</a></li>
                    <li><a href="#">고객 지원</a></li>
                    <li><a href="#">이용 약관</a></li>
                </ul>
            </div>
            <!-- 푸터의 행 생성 -->
            <div class="col-md-3">
                <h5>SNS</h5>
                <!-- 목록 스타일 제거 -->
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
        <br />
    </div>
</footer>
<!-- #endregion 푸터 -->
