<!-- #region 네비게이션 바 -->
<!-- 밝은 테마의 네비게이션 바 생성 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- 네비게이션 바를 감싸는 컨테이너(중앙 정렬, 좌우 여백) -->
    <div class="container">
        <!-- 네비게이션 바에 로고 추가 -->
        <a class="navbar-brand" href="/">{ SKHU ROAD }</a>
        <!-- 모바일 화면에서 메뉴가 접히도록 설정 -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- 오른쪽으로 정렬된 네비게이션 바 메뉴 -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Post">지하철 정보 검색</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Mapping">길찾기 알림</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Halfway">중간지점 찾기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Suggestion">장소추천</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Subway">지하철 정보</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- #endregion 네비게이션 바 -->
