<main class="con-main-halfway">
    <div id="radio_cont">
        <div id="radio_flax">
            <label class="radio-label"> <input type="radio" name="option" value="convenience_store" />편의점 </label>
            <label class="radio-label"> <input type="radio" name="option" value="cafe" />카페 </label>
            <label class="radio-label"> <input type="radio" name="option" value="subway_station" />지하철 </label>
            <label class="radio-label"> <input type="radio" name="option" value="bus_station" />버스 </label>
            <label class="radio-label"> <input type="radio" name="option" value="restaurant" />음식점 </label>
            <label class="radio-label"> <input type="radio" name="option" value="library" />도서관 </label>
        </div>
    </div>
    <div>
        <div class="way-list">
            <div class="search-bar">
                <div class="con-search way">
                    <img class="searchIcon" src="searchIcon.svg" alt="" />
                    <input class="search-input post_input_data" autocomplete="none" type="text" id="textInput" class="form-control" name="address" placeholder="출발 지점" />
                    <img id="reset-button" class="xMark plus_input" src="xMark.svg" alt="지우기" />
                </div>
                <button id="" class="remove-btn remove-address" type="button">삭제</button>
            </div>
            <div class="search-bar">
                <div class="con-search way">
                    <img class="searchIcon" src="searchIcon.svg" alt="" />
                    <input class="search-input post_input_data" autocomplete="none" type="text" id="textInput" class="form-control" name="address" placeholder="출발 지점" />
                    <img id="reset-button" class="xMark plus_input" src="xMark.svg" alt="지우기" />
                </div>
                <button id="" class="remove-btn remove-address" type="button">삭제</button>
            </div>
        </div>
        <div class="btn_list">
            <div class="search-bar">
                <button id="mid_btn" class="search-btn" type="button">중간지점 찾기</button>
                <button class="add-address" type="button">+</button>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <div class="inform">
        <h2>중간지점 공지 만들기</h2>
        <form>
            <p>일시</p>
            <input type="text" id="inform_time" placeholder="일시를 입력해주세요." />
            <p>내용</p>
            <input type="text" id="inform_info" placeholder="내용을 입력해주세요." /> <br />
            <input type="button" value="공지 생성하기" class="inform_btn" /><br />
        </form>
        <br />
        <div class="inform_return inform_return_off">
            <textarea id="coptText"></textarea>
            <input type="button" value="공지 복사하기" id="coptText_btn" class="inform_btn" /><br>
        </div>
    </div>
</main>
<script src="Halfway.js"></script>
