<main class="con-main">
    <header class="search-bar">
        <div class="con-search">
            <img class="searchIcon" src="searchIcon.svg" alt="">
            <input class="search-input" autocomplete="none" type="text" class="form-control" name="address" placeholder="중간 지점">
            <img id="reset-button" class="xMark" src="xMark.svg" alt="" type="reset">
        </div>
        <button id="btn" class="search-btn" type="button">검색</button>
    </header>
</main>
<script src="Mapping.js"></script>