<div class="bg-blur hidden pos">
    <!-- #region 본문1 팀소개 -->
    <div class="X-btn">
        <div>
            <div class="close-container">
                <div class="leftright"></div>
                <div class="rightleft"></div>
                <label class="close">close</label>
            </div>
        </div>
    </div>
    <div class="w_textBox">
        <div class="mainText_Title">
            <h1>팀소개</h1>
            <h3>SKHU ROAD는 성공회대학교 교내대회 출품작입니다.</h3>
            <h3>길찾기 서비스와 중간지점 찾기, 지하철 지연 서비스 등 더 많은 대중교통 관련 서비스를 지원합니다.</h3>
            <p>#SKHU ROAD</p>
            <p>#지도 서비스</p>
        </div>

        <div id="mainText1_flex">
            <div>
                <div class="profile_card">
                    <div class="gradient_filter"></div>
                    <!-- <img src="ch_img1.jpg" alt="" /> -->
                    <img src="default_profile.png" alt="" />
                    <div class="img_cont">
                        <h2 class="name_text">김현우</h2>
                        <h3>backend</h3>
                        <p>서버 라우터 제작, 중간지점 서비스 개발</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="profile_card">
                    <div class="gradient_filter"></div>
                    <!-- <img src="ch_img2.jpg" alt="" /> -->
                    <img src="default_profile.png" alt="" />
                    <div class="img_cont">
                        <h2 class="name_text">강우혁</h2>
                        <h3>backend</h3>
                        <p>개발중...</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="profile_card">
                    <div class="gradient_filter"></div>
                    <!-- <img src="ch_img3.jpg" alt="" /> -->
                    <img src="default_profile.png" alt="" />
                    <div class="img_cont">
                        <h2 class="name_text">황재현</h2>
                        <h3>fullstack</h3>
                        <p>개발중...</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="profile_card">
                    <div class="gradient_filter"></div>
                    <!-- <img src="ch_img4.jpg" alt="" /> -->
                    <img src="default_profile.png" alt="" />
                    <div class="img_cont">
                        <h2 class="name_text">박동준</h2>
                        <h3>fullstack</h3>
                        <p>개발중...</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="profile_card">
                    <div class="gradient_filter"></div>
                    <!-- <img src="ch_img5.png" alt="" /> -->
                    <img src="default_profile.png" alt="" />
                    <div class="img_cont">
                        <h2 class="name_text">김민서</h2>
                        <h3>frontend</h3>
                        <p>개발중...</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="profile_card">
                    <div class="gradient_filter"></div>
                    <!-- <img src="ch_img6.jpg" alt="" /> -->
                    <img src="default_profile.png" alt="" />
                    <div class="img_cont">
                        <h2 class="name_text">최준혁</h2>
                        <h3>frontend</h3>
                        <p>개발중...</p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
    <!-- #endregion 본문1 팀소개 -->
</div>
