<main class="con-main">
    <header class="search-bar">
        <div class="con-search">
            <img class="searchIcon" src="searchIcon.svg" alt="">
            <input class="search-input" type="text" placeholder="위치 검색">
        </div>
        <img class="xMark" src="xMark.svg" alt="" type="reset">
    </header>
</main>