<main class="con-main">
    <form style="display: inline-block" id="SubwayForm" method="post" action="/Subway">
        <div class="search-bar">
            <div class="con-search">
                <img class="searchIcon" src="searchIcon.svg" alt="" />
                <input class="search-input" autocomplete="off" id="station" type="text" class="form-control" placeholder="역 검색" />
                <img id="reset-button" class="xMark" src="xMark.svg" alt="지우기" type="reset" />
            </div>
            <button id="btn" class="search-btn" type="submit">검색</button>
        </div>
        <article class="subway-con">
            <div style="text-align: left; padding: 10px 22px">
                <form style="display: inline-block" method="post">
                    <select class="Line_no" id="SubwayLine" style="font-size: 20px" name="subwayLine">
                        <option style="background-color: #0052A4; color: white;" value="1호선">1호선</option>
                        <option style="background-color: #00A84D; color: white;" value="2호선">2호선</option>
                        <option style="background-color: #EF7C1C; color: white;" value="3호선">3호선</option>
                        <option style="background-color: #00A4E3; color: white;" value="4호선">4호선</option>
                        <option style="background-color: #996CAC; color: white;" value="5호선">5호선</option>
                        <option style="background-color: #CD7C2F; color: white;" value="6호선">6호선</option>
                        <option style="background-color: #747F00; color: white;" value="7호선">7호선</option>
                        <option style="background-color: #E6186C; color: white;" value="8호선">8호선</option>
                        <option style="background-color: #BDB092; color: white;" value="9호선">9호선</option>
                        <option style="background-color: #77C4A3; color: white;" value="경의중앙선">경의중앙선</option>
                        <option style="background-color: #178C72; color: white;" value="경춘선">경춘선</option>
                        <option style="background-color: #0090D2; color: white;" value="공항철도">공항철도</option>
                        <option style="background-color: #FABE00; color: white;" value="수인분당선">수인분당선</option>
                        <option style="background-color: #8FC31F; color: white;" value="서해선">서해선</option>
                        <option style="background-color: #D31145; color: white;" value="신분당선">신분당선</option>
                        <option style="background-color: #B7C450; color: white;" value="우이신설선">우이신설선</option>
                    </select>
                </form>
                <form style="display: inline-block">
                    <select class="updnLine_no" id="updnLine" style="font-size: 20px" name="updnLine">
                        <option value="1">상행</option>
                        <option value="2">하행</option>
                    </select>
                </form>
            </div>
        </article>
    </form>
    <div id="resultSubway" class="resultSubway">
        <div class="subway_img_group">
            <div id="leftcon" class=""></div>
            <div id="midcon" class="">
                <div id="subwayId" class="line-info">호선 정보</div>
                <div id="stationNm" class="station-info">현재 역</div>
            </div>
            <div id="ringthcon" class=""></div>
        </div>
        <div class="subway_text_group">
        </div>
        
        
    </div>
    <br />
</main>
<script src="Subway.js"></script>
