<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="Detail.css" />
        <!-- 부트스트랩 CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
        <title>SKHU LOAD</title>
    </head>

    <body>
        <%- include('./__GNB') %>

        <!-- #region 헤더 -->
        <header class="jumbotron m_bottom">
            <div class="container text-center">
                <h1 class="display-4">Project Detail</h1>
                <p class="lead">아직 작성이 완료되지 않았습니다.</p>
            </div>
        </header>
        <!-- #endregion 헤더 -->

        <!-- #region 본문 타이틀 -->
        <!-- <div id="main_text_title">
            <div class="w_textBox"></div>
        </div> -->
        <!-- #endregion 본문 타이틀 -->

        <!-- #region 본문1 팀소개 -->
        <div id="main_text1">
            <div class="w_textBox">
                <div class="mainText_Title">
                    <h2>01</h2>
                    <h1>팀소개</h1>
                    <p>#해시테그1</p>
                    <p>#해시테그2</p>
                </div>

                <div id="mainText1_flex">
                    <div>
                        <div class="profile_card">
                            <div class="gradient_filter"></div>
                            <img src="ch_img1.jpg" alt="" />
                            <div class="img_cont">
                                <h3>김현우 <span>backend</span></h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p>skill : html, css, js, node.js</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="profile_card">
                            <div class="gradient_filter"></div>
                            <img src="ch_img2.jpg" alt="" />
                            <div class="img_cont">
                                <h2>김현우 <span>backend</span></h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p>skill : html, css, js, node.js</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="profile_card">
                            <div class="gradient_filter"></div>
                            <img src="ch_img3.jpg" alt="" />
                            <div class="img_cont">
                                <h2>김현우 <span>backend</span></h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p>skill : html, css, js, node.js</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="profile_card">
                            <div class="gradient_filter"></div>
                            <img src="ch_img4.jpg" alt="" />
                            <div class="img_cont">
                                <h2>김현우 <span>backend</span></h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p>skill : html, css, js, node.js</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="profile_card">
                            <div class="gradient_filter"></div>
                            <img src="ch_img5.png" alt="" />
                            <div class="img_cont">
                                <h2>김현우 <span>backend</span></h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p>skill : html, css, js, node.js</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="profile_card">
                            <div class="gradient_filter"></div>
                            <img src="ch_img6.jpg" alt="" />
                            <div class="img_cont">
                                <h2>김현우 <span>backend</span></h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p>skill : html, css, js, node.js</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="side_img" src="Detail_01.png" alt="" />
        </div>
        <!-- #endregion 본문1 팀소개 -->

        <!-- #region 본문2 도착알림 -->
        <div id="main_text2">
            <div class="w_textBox">
                <div class="mainText_Title">
                    <h2>02</h2>
                    <h1>길찾기 알림 서비스</h1>
                    <p>#해시테그1</p>
                    <p>#해시테그2</p>
                </div>

                <div class="img_textBox">
                    <div class="left_imgFrame">
                        <img src="image_error.png" alt="" />
                    </div>
                    <div class="left_textFrame">
                        <p>제목</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos obcaecati quas ex, recusandae harum aperiam perferendis soluta eos veniam ullam
                            explicabo ipsam repellendus a nesciunt dolor quam fuga debitis. Animi.
                        </p>
                    </div>
                </div>
                <br />
                <div class="img_textBox">
                    <div class="right_imgFrame">
                        <img src="image_error.png" alt="" />
                    </div>
                    <div class="right_textFrame">
                        <p>제목</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos obcaecati quas ex, recusandae harum aperiam perferendis soluta eos veniam ullam
                            explicabo ipsam repellendus a nesciunt dolor quam fuga debitis. Animi.
                        </p>
                    </div>
                </div>
            </div>
            <img class="side_img" src="Detail_02.png" alt="" />
        </div>
        <!-- #endregion 본문2 도착알림 -->

        <!-- #region 본문3 중간지점 -->
        <div id="main_text3">
            <div class="w_textBox">
                <div class="mainText_Title">
                    <h2>03</h2>
                    <h1>중간지점 찾기</h1>
                    <p>#해시테그1</p>
                    <p>#해시테그2</p>
                </div>

                <div class="img_textBox">
                    <div class="left_imgFrame">
                        <img src="image_error.png" alt="" />
                    </div>
                    <div class="left_textFrame">
                        <p>제목</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos obcaecati quas ex, recusandae harum aperiam perferendis soluta eos veniam ullam
                            explicabo ipsam repellendus a nesciunt dolor quam fuga debitis. Animi.
                        </p>
                    </div>
                </div>
                <br />
                <div class="img_textBox">
                    <div class="right_imgFrame">
                        <img src="image_error.png" alt="" />
                    </div>
                    <div class="right_textFrame">
                        <p>제목</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos obcaecati quas ex, recusandae harum aperiam perferendis soluta eos veniam ullam
                            explicabo ipsam repellendus a nesciunt dolor quam fuga debitis. Animi.
                        </p>
                    </div>
                </div>
            </div>
            <img class="side_img" src="Detail_03.png" alt="" />
        </div>
        <!-- #endregion 본문3 중간지점 -->

        <!-- #region 본문4 지연정보 -->
        <div id="main_text4">
            <div class="w_textBox">
                <div class="mainText_Title">
                    <h2>04</h2>
                    <h1>지하철 지연정보</h1>
                    <p>#해시테그1</p>
                    <p>#해시테그2</p>
                </div>

                <div class="img_textBox">
                    <div class="left_imgFrame">
                        <img src="image_error.png" alt="" />
                    </div>
                    <div class="left_textFrame">
                        <p>제목</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos obcaecati quas ex, recusandae harum aperiam perferendis soluta eos veniam ullam
                            explicabo ipsam repellendus a nesciunt dolor quam fuga debitis. Animi.
                        </p>
                    </div>
                </div>
                <br />
                <div class="img_textBox">
                    <div class="right_imgFrame">
                        <img src="image_error.png" alt="" />
                    </div>
                    <div class="right_textFrame">
                        <p>제목</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos obcaecati quas ex, recusandae harum aperiam perferendis soluta eos veniam ullam
                            explicabo ipsam repellendus a nesciunt dolor quam fuga debitis. Animi.
                        </p>
                    </div>
                </div>
            </div>
            <img class="side_img" src="Detail_04.png" alt="" />
        </div>
        <!-- #endregion 본문4 지연정보 -->

        <%- include('./__Footer') %>
    </body>
</html>
