<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="Main.css" />
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsmoFLqupsLIZtJGrerrEuNkrnW_8NnCI&libraries=places"></script>
        <title>SKHU ROAD</title>
    </head>
    <body>
        <section class="menu">
            <div class="folding-btn">
                <div></div>
            </div>
            <header class="header-bar">
                { SKHU ROAD }
            </header>
            <nav>
                <div class="nav-opt">길찾기</div>
                <div class="nav-opt">중간지점</div>
                <div class="nav-opt">장소추천</div>
                <div class="nav-opt">지하철</div>
                <table class="con-oth">
                    <td>
                        <div class="nav-opt-other">i</div>
                    </td>
                    <td>
                        <div class="nav-opt-other">?</div>
                    </td>
                </table>
            </nav>
            <main class="con-main">
                <header class="search-bar">
                    <input type="text" placeholder="위치 검색">
                </header>
            </main>
        </section>
        <div id="map"></div>
    </body>
    <script type="module" src="../static/javascript/Main.js"></script>
</html>