<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="Main.css" />
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsmoFLqupsLIZtJGrerrEuNkrnW_8NnCI&libraries=places"></script>
        <title>SKHU ROAD</title>
    </head>
    <body>
        <section class="menu">
            <div class="folding-btn">
                <div></div>
            </div>
            <header class="header-bar">
                { SKHU ROAD }
            </header>
            <nav class="con-nav">
                <div class="nav-opt">
                    <table>
                        <td>
                            <img class="opt-icon" src="opticon1.svg" alt="1">
                        </td>
                    </table>
                    <br>
                    길찾기
                </div>
                <div class="nav-opt">
                    <table>
                        <td>
                            <img class="opt-icon" src="opticon2.svg" alt="1">
                        </td>
                    </table>
                    <br>
                    중간지점
                </div>
                <div class="nav-opt">
                    <table>
                        <td>
                            <img class="opt-icon" src="opticon3.svg" alt="1">
                        </td>
                    </table>
                    <br>
                    장소추천
                </div>
                <div class="nav-opt">
                    <table>
                        <td>
                            <img class="opt-icon" src="opticon4.svg" alt="1">
                        </td>
                    </table>
                    <br>
                    지하철
                </div>
                <table class="con-oth">
                    <tr>
                    <td>
                        <div class="nav-opt-other">i</div>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <div class="nav-opt-other">?</div>
                    </td>
                </tr>
                </table>
            </nav>
            <%- include('./__Mapping') %>
        </section>
        <div id="map"></div>
        <!-- <%- include('./__Help') %> -->
    </body>
    <script src="Main.js"></script>
</html>
