<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="Main.css" />
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsmoFLqupsLIZtJGrerrEuNkrnW_8NnCI&libraries=places"></script>
        <title>SKHU ROAD</title>
    </head>
    <body>
        <section class="menu">
            <header class="header-bar">
                { SKHU ROAD }
            </header>
            <nav>
                <div class="nav-opt">길찾기</div>
                <div class="nav-opt">중간지점</div>
                <div class="nav-opt">장소추천</div>
                <div class="nav-opt">지하철</div>
                <table class="con-oth">
                    <td>
                        <div class="nav-opt-other">i</div>
                    </td>
                    <td>
                        <div class="nav-opt-other">?</div>
                    </td>
                </table>
            </nav>
            <main class="con-main">

            </main>
        </section>
        <div id="map"></div>
    </body>
    <script>
        new google.maps.Map(document.getElementById("map"), {
            center: { lat: 37.5665, lng: 126.978 }, // 초기 위치 설정
            zoom: 12, // 확대/축소 레벨
        });
    </script>
</html>