<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- 부트스트랩 CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
        <title>SKHU ROAD</title>
    </head>
    <body>
        <%- include('./__GNB') %>

        <!-- #region 헤더 -->
        <header class="jumbotron">
            <div class="container text-center">
                <h1 class="display-4">Suggestion</h1>
                <p class="lead">아직 기능이 완성되지 않았습니다.</p>
            </div>
        </header>

        <div class="container mt-4">
            <div class="form-group">
                <!-- input 박스를 그룹으로 묶음 -->
                <div id="address-container">
                    <div class="input-group mt-2">
                        <input type="text" class="sug_inputBox" name="address[]" placeholder="원하는 장소를 입력하세요." />
                        <div class="input-group-append">
                            <button type="submit" id="sug_btn" style="background-color: blue; color: white;">검색</button>
                        </div>
                    </div>
                    <div id="imageContainer">
                        <tr></tr>
                    </div>
                </div>

            </div>

        </div>
        <span style="line-height: 1000px"><br /></span>

        <%- include('./__Footer') %>
        <script src="Suggestion2.js">




        </script>
    </body>

</html>
