@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#map {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

input {
    outline: none;

    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

input[type="radio"] {
    display: none;
}

/* menu 영역 */
.menu {
    /* float: left; */
    top: 0;
    left: 0;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 10px 2px gray;
    height: 100vh;
    width: 450px;
    text-align: center;
    display: inline-block;
    transition: transform 0.3s;
    /* 애니메이션을 추가할 수 있습니다. */
    animation: all 0.5s ease;
}

.header-bar {
    position: relative;
    color: #8591ff;
    display: inline-block;

    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}

.header-hr {
    background-color: #8591ff;

    margin-top: -5px;
    border-radius: 2px;
    height: 2px;
}

.con-nav {
    height: 70px;
    margin-bottom: 10px;
}

/* menu 내 {길찾기} {중간지점} {장소추천} {지하철} 선택 사항 */
.nav-opt {
    background-color: #b5b9ff;
    color: white;
    font-size: 14px;
    /* height: 66px; */
    /* width: 60px; */
    display: inline-block;
    float: left;
    margin-left: 20px;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
}

.nav-opt table {
    height: 30px;
    margin-top: 7px;
    margin-bottom: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-oth {
    /* border: 1px black solid; */
    display: inline-block;
    margin-right: 6px;
    transform: scaleY(1); /* 원하는 수치로 높이 조절 가능 현재 기본 수치 */
    float: right;
    border-collapse: separate; /* 테이블 셀을 분리하도록 설정 */
    border-spacing: 8px; /* 원하는 간격으로 조절 */
}

.nav-opt-other {
    background-color: #b5b9ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    cursor: pointer;
}

.nav-opt:hover,
.nav-opt-other:hover,
.search-btn:hover {
    background-color: #8591ff;
    transition: 0.3s;
    cursor: pointer;
}

.folding-btn {
    z-index: 2;
    position: absolute;
    top: 45vh;
    left: 450px;

    height: 100px;
    width: 20px;

    border-radius: 0 10px 10px 0;
    box-shadow: 5px 0 10px 0 gray;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
}

.folding-btn:hover {
    cursor: pointer;
}
.folding-btn div {
    height: 50px;
    margin-left: -5px;
    width: 5px;

    background-color: #eeeeee;
}

/* Main.css */

/* hidden 클래스를 추가하면 메뉴가 왼쪽으로 이동하여 숨깁니다. */
.menu.hidden {
    transform: translateX(-100%);
}

/* __Mapping */

.mapping-section.hidden {
    z-index: -100;
    display: none;
}
.halfway-section.hidden {
    z-index: -100;
    display: none;
}
.subway-section.hidden {
    z-index: -100;
    display: none;
}

/* 사이드바 스크롤 설정 */
.halfway-section {
    height: 79%;
    overflow: auto;
}
.halfway-section::-webkit-scrollbar {
    width: 7px;
}
.halfway-section::-webkit-scrollbar-thumb {
    background-color: #50555e;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
}
.halfway-section::-webkit-scrollbar-track {
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.mapping-section {
    height: 76%;
}

.con-main {
    height: 100%;
    overflow: auto;
}
.con-main::-webkit-scrollbar {
    width: 7px;
}
.con-main::-webkit-scrollbar-thumb {
    background-color: #50555e;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
}
.con-main::-webkit-scrollbar-track {
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* 사이드바 스크롤 설정 */

.on {
    background-color: #8591ff;
}

.con-main,
.con-main-halfway {
    float: left;
}

.con-main-halfway {
    width: 440px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    border: none;
    background-color: #eeeeee;
    /* border-radius: 10px; */

    margin-top: 2px;
    margin-right: 10px;

    height: 40px;
    width: 230px;

    font-size: 20px;

    float: left;
}
.searchIcon {
    width: 20px;
    margin: 11.5px 15px;

    display: inline-block;
    float: left;
}

.con-search {
    background-color: #eeeeee;

    border-radius: 10px;
    margin-left: 20px;
    width: 350px;
}
.con-search.way {
    margin-top: 10px;
    margin-right: 0;
}

.xMark {
    width: 25px;
    margin: 8.5px 15px;
}
.xMark:hover {
    cursor: pointer;
}

.search-btn {
    font-size: 20px;
    height: 48px;
    margin-left: 10px;

    border: none;
    background-color: #b5b9ff;
    color: #ffffff;

    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
}

.btn-group {
    margin: 10px 20px;
    display: flex;
    height: 40px;
    gap: 5px;

    /* overflow: scroll; */
}

.btn-group::-webkit-scrollbar {
    display: none; /* Chrome , Safari , Opera */
}

.radio-label {
    color: white;
    display: flex;
    width: 50px;
    height: 20px;
    padding: 2px 5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #b5b9ff;
}

.radio-label:hover {
    background-color: #8591ff;
    transition: 0.3s;
    cursor: pointer;
}

/* __Halfway */
.btn_list {
    margin-top: 10px;
}

.btn_list .add-address {
    font-size: 20px;
    height: 48px;
    margin-left: 10px;
    width: 60px;

    border: none;
    background-color: #3de762;
    color: #ffffff;

    padding: 5px 20px;
    border-radius: 10px;
    display: inline-block;
}

.btn_list .add-address:hover {
    background-color: #15df40;
    transition: 0.3s;
    cursor: pointer;
}

.btn_list .search-btn:hover {
    background-color: #8591ff;
    transition: 0.3s;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #ff5353;
    transition: 0.3s;
    cursor: pointer;
}

.remove-btn {
    font-size: 20px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;

    border: none;
    background-color: #ff7575;
    color: #ffffff;

    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
}
.btn_list .search-btn {
    font-size: 20px;
    height: 48px;
    margin-left: 20px;
    width: 350px;

    border: none;
    background-color: #b5b9ff;
    color: #ffffff;

    padding: 5px 20px;
    border-radius: 10px;
    display: inline-block;
}
/* __Subway */
.subway-con {
    display: inline-block;
    height: auto;
}
.subway-line-con {
    border-radius: 100px;
    /* width: 200px; */

    padding: 10px;
    width: 250px;
    display: inline-block;
    float: left;
}

.line-info,
.subway-num {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.station-info {
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.subway-line1,
.subway-line2 {
    float: left;
    width: 75px;
    height: 35px;
    margin-top: 60px;
    margin-right: -6px;

    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subway-line2 {
    width: 87px;
    margin-left: -6px;
}

.subway-time-info {
    padding: 20px;
    margin: 10px;
}

.subway-time-info div {
    text-align: left;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

/* 호선 별 색깔 style */
/* 1호선 */
.subway-line-con.lineNum_1 {
    border: 15px solid #005bac;
}
.subway-line1.lineNum_1,
.subway-line2.lineNum_1 {
    background-color: #005bac;
}

/* 2호선 */
.subway-line-con.lineNum_2 {
    border: 15px solid #00a84d;
}
.subway-line1.lineNum_2,
.subway-line2.lineNum_2 {
    background-color: #00a84d;
}
/* 3호선 */
.subway-line-con.lineNum_3 {
    border: 15px solid #ef7c1c;
}
.subway-line1.lineNum_3,
.subway-line2.lineNum_3 {
    background-color: #ef7c1c;
}
/* 4호선 */
.subway-line-con.lineNum_4 {
    border: 15px solid #00b2e3;
}
.subway-line1.lineNum_4,
.subway-line2.lineNum_4 {
    background-color: #00b2e3;
}
/* 5호선 */
.subway-line-con.lineNum_5 {
    border: 15px solid #996cac;
}
.subway-line1.lineNum_5,
.subway-line2.lineNum_5 {
    background-color: #996cac;
}
/* 6호선 */
.subway-line-con.lineNum_6 {
    border: 15px solid #cd7c2f;
}
.subway-line1.lineNum_6,
.subway-line2.lineNum_6 {
    background-color: #cd7c2f;
}
/* 7호선 */
.subway-line-con.lineNum_7 {
    border: 15px solid #747f00;
}
.subway-line1.lineNum_7,
.subway-line2.lineNum_7 {
    background-color: #747f00;
}
/* 8호선 */
.subway-line-con.lineNum_8 {
    border: 15px solid #e6186c;
}
.subway-line1.lineNum_8,
.subway-line2.lineNum_8 {
    background-color: #e6186c;
}
/* 9호선 */
.subway-line-con.lineNum_9 {
    border: 15px solid #bdb092;
}
.subway-line1.lineNum_9,
.subway-line2.lineNum_9 {
    background-color: #bdb092;
}
/* 경의중앙선 */
.subway-line-con.lineNum_gj {
    border: 15px solid #77c4a3;
}
.subway-line1.lineNum_gj,
.subway-line2.lineNum_gj {
    background-color: #77c4a3;
}
/* 경춘선 */
.subway-line-con.lineNum_gc {
    border: 15px solid #178c72;
}
.subway-line1.lineNum_gc,
.subway-line2.lineNum_gc {
    background-color: #178c72;
}
/* 공항철도 */
.subway-line-con.lineNum_ar {
    border: 15px solid #0090d2;
}
.subway-line1.lineNum_ar,
.subway-line2.lineNum_ar {
    background-color: #0090d2;
}
/* 서해선 */
.subway-line-con.lineNum_sh {
    border: 15px solid #8fc31f;
}
.subway-line1.lineNum_sh,
.subway-line2.lineNum_sh {
    background-color: #8fc31f;
}
/* 수인분당선*/
.subway-line-con.lineNum_sb {
    border: 15px solid #fabe00;
}
.subway-line1.lineNum_sb,
.subway-line2.lineNum_sb {
    background-color: #fabe00;
}
/* 신분당선*/
.subway-line-con.lineNum_ssb {
    border: 15px solid #d31145;
}
.subway-line1.lineNum_ssb,
.subway-line2.lineNum_ssb {
    background-color: #d31145;
}
/* 우이신설선*/
.subway-line-con.lineNum_ui {
    border: 15px solid #b7c450;
}
.subway-line1.lineNum_ui,
.subway-line2.lineNum_ui {
    background-color: #b7c450;
}

/* __Help */
/* #region 근처 장소  */
#radio_cont {
    width: 90%;
    margin: 10px auto;
}

#radio_flax {
    display: flex;
}

#radio_flax > label {
    flex: 1px;
    /* border: solid #8591ff 2px; */
    border-radius: 7px;
    margin: 3px;
    /* padding: 2px 5px; */
    text-align: center;
}

#radio_flax > label > input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}

.selected {
    background-color: #8591ff;
}

/* #endregion 근처 장소  */
.hiddenMap {
    display: none;
}

#imageContainer {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#image-display {
    position: absolute;
    width: 100vw;
}
.resultSubway {
    display: none;
}

/* place 디자인 */
/* 제목 디자인 */
.place_name {
    font-family: "GmarketSansMedium", sans-serif;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(180, 180, 180);
}

.place_name + img {
    display: block;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.place_ul {
    font-family: "GmarketSansMedium", sans-serif;
    font-weight: 500;
    width: 300px;
}

/* 별점 디자인 */
.stars {
    display: inline;
    font-size: 12px;
    color: #ccc;
}

.stars i {
    cursor: pointer;
}

.stars .filled {
    color: #fdd835;
}

/* 재검색 버튼 디자인 */
button.midRediscover {
    background-color: #65c0fd; /* 배경 색상 */
    color: #fff; /* 텍스트 색상 */
    padding: 5px 10px; /* 내부 여백 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서 모양 */
    font-size: 16px; /* 글꼴 크기 */
    font-weight: bold; /* 글꼴 두께 */
    text-align: center; /* 가운데 정렬 */
    text-decoration: none; /* 밑줄 없음 */
    display: block;
    transition: background-color 0.3s; /* 배경 색상 변경 효과 */
    margin: 0 auto;
    margin-bottom: 5px;
}

button.midRediscover:hover {
    background-color: #1399f3; /* 마우스 오버 시 배경 색상 변경 */
}
/* place 디자인 */

/* 시작, 도착 지점 마커 디자인 */
.m_end,
.m_start {
    width: 140px; /* 가로 크기 */
    height: 40px; /* 세로 크기 */
    border-radius: 20px; /* border-radius를 사용하여 가로 타원형 생성 */
    font-size: large;
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: 900;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.m_end {
    background-color: rgb(117, 126, 255); /* 배경 색상 */
}
.m_start {
    background-color: rgb(255, 104, 142); /* 배경 색상 */
}

.adr_title,
.m_title,
.start_end_ul {
    width: 350px;
    font-family: "GmarketSansMedium", sans-serif;
}

.adr_title,
.m_title {
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

/* 시작, 도착 지점 마커 디자인 */

/* 중간지점 공지생성 */
.inform {
    width: 90%;
    border: 1px #8591ff solid;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 7px #8591ff;
}

.inform input[type="text"] {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #e5e9f5;
    background-color: #f6f7fa;
    padding: 15px;
    margin-top: 10px;
    margin: 0 auto;
    border-radius: 10px;
    width: 80%;
}

.inform_btn {
    background-color: #aab3ff; /* 배경 색상 */
    color: #fff; /* 텍스트 색상 */
    padding: 5px 10px; /* 내부 여백 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서 모양 */
    font-size: 16px; /* 글꼴 크기 */
    font-weight: bold; /* 글꼴 두께 */
    text-align: center; /* 가운데 정렬 */
    text-decoration: none; /* 밑줄 없음 */
    display: block;
    transition: background-color 0.5s; /* 배경 색상 변경 효과 */
    margin: 0 auto;
    margin-bottom: 5px;
    width: 10em;
    height: 2em;
}
.inform_btn:hover {
    background-color: #7987ff; /* 마우스 오버 시 배경 색상 변경 */
}

.inform p {
    color: #8591ff;
    text-align: left;
    margin-bottom: 5px;
    padding-left: 7%;
    font-weight: bold;
}

.inform_return > textarea {
    width: 80%;
    min-height: 20em;
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 12px;
    box-sizing: border-box;
    font-family: "GmarketSansMedium", sans-serif;
}

.inform_return_off {
    display: none;
}
/* 중간지점 공지생성 */

/* 길찾기 최근 검색 기록 */

/* #region 최근 검색 기록  */

#form_control_text > ol {
    margin: 10px;
    padding: 0px;
    list-style-type: none;
}
#form_control_text > ol > li {
    background-color: #edf6ff;
    color: #6c757d;
    font-size: 18px;
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px rgba(78, 78, 78, 0.2);
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
}

/* #endregion 최근 검색 기록  */
/* 길찾기 최근 검색 기록 */
